:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  background: rgb(1, 0, 15);
}

#root {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

#modal {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.system {
  color: rgb(154, 209, 231);
}

.number {
  color: rgb(240, 130, 28);
}

.ui {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.augments {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, auto);
}

.stats {
  display: grid;
  gap: 2px;
  grid-template-columns: auto 1fr;
}

.flex {
  display: flex;
  gap: 8px;
}

.flex.vertical {
  flex-direction: column;
}

.pair {
  display: flex;
  gap: 4px;
}

.save {
  padding: 4px;
}

.save pre {
  margin: 0;
  border: 1px solid black;
  padding: 4px;
}

img {
  width: 16px;
  height: 16px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, auto 1fr);
  gap: 8px;
}

.align-between {
  justify-content: space-between;
}

.stats-window {
  align-self: center;
}

.ngs-select__control {
  flex: 1;
  color: white !important;
  background-color: rgba(38, 47, 51, 1) !important;
}

.ngs-select__control input {
  color: white !important;
}

.ngs-select__menu-list {
  background-color: rgba(38, 47, 51, 1) !important;
}

.ngs-select__control--is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ngs-select__single-value {
  color: white !important;
}

.ngs-select__single-value {
  color: white;
}

.window {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  border: 2px solid rgb(107, 225, 255);
}

.window > .header {
  overflow: hidden;
  display: flex;
  background: rgba(38, 47, 51, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 8px;
  padding: 8px;
  background-image: linear-gradient(
      45deg,
      rgba(37, 121, 148, 0) 0%,
      rgba(37, 121, 148, 0.8) 5%,
      rgba(37, 121, 148, 1) 10%,
      rgba(37, 121, 148, 1) 90%,
      rgba(37, 121, 148, 0.8) 95%,
      rgba(37, 121, 148, 0) 100%
    ),
    linear-gradient(#14669d 2px, transparent 4px),
    linear-gradient(to right, #14669d 2px, transparent 4px);
  background-size: 100% 100%, 6px 6px, 6px 6px;
  background-color: #22c4b7;
}

.window > .body {
  overflow: hidden;
  flex: 1;
  background: rgba(70, 82, 119, 0.72);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.add-ons {
  display: grid !important;
  gap: 4px;
  grid-template-columns: auto 1fr;
}

hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.end {
  justify-content: flex-end;
}

a {
  color: #22c4b7;
}

.btn {
  display: flex;
  flex-direction: column;
  appearance: none;
  border: 0;
  background: rgba(38, 47, 51, 0.85);
  border: 1px solid rgba(38, 47, 51, 0.85);
  padding: 4px;
  display: flex;
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  align-items: stretch;
}

.btn:active,
.btn:hover {
  background: rgb(8, 71, 99);
  border-color: #22c4b7;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal {
  overflow: hidden;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  inset: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-content {
  display: flex;
  overflow: hidden;
}

.max-width {
  width: 100%;
  max-width: 400px;
}

.list {
  max-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  min-height: 0;
  max-height: 300px;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: flex-start;
}

.list .btn {
  padding: 8px;
  align-self: stretch;
  margin-right: 4px;
}

.list h3 {
  margin: 0;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.list p {
  margin: 0;
  text-align: start;
}